NEW_CPU_STATE_NODE;2;CPU_USAGE;0.01
NEW_CPU_STATE_NODE;1000;CPU_USAGE;0.02
NEW_CPU_STATE_NODE;2000;CPU_USAGE;0.01
NEW_CPU_STATE_NODE;3000;CPU_USAGE;0.02
NEW_CPU_STATE_NODE;4000;CPU_USAGE;0.01
NEW_CPU_STATE_NODE;5000;CPU_USAGE;0.02
NEW_CPU_STATE_NODE;6000;CPU_USAGE;0.01
NEW_CPU_STATE_NODE;7000;CPU_USAGE;0.02
NEW_CPU_STATE_NODE;8000;CPU_USAGE;0.01