NEW_CPU_STATE_NODE;2;CPU_USAGE;0.01
NEW_CPU_STATE_NODE;10000;CPU_USAGE;0.02
NEW_CPU_STATE_NODE;20000;CPU_USAGE;0.01
NEW_CPU_STATE_NODE;30000;CPU_USAGE;0.02
NEW_CPU_STATE_NODE;40000;CPU_USAGE;0.01
NEW_CPU_STATE_NODE;50000;CPU_USAGE;0.02
NEW_CPU_STATE_NODE;60000;CPU_USAGE;0.01
NEW_CPU_STATE_NODE;70000;CPU_USAGE;0.02
NEW_CPU_STATE_NODE;80000;CPU_USAGE;0.01